body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

p {
    line-height: 2;
}

h1 {
    font-size: 5.625em;
    margin: 50px auto 0;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;

}

.programmer {
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
}

h2, 
h3 {
    font-family: 'Montserrat', sans-serif;
}

h3,
a {
    color: #11999E;
}

.top-container {
    background-color: #EAF6F6;
    position: relative;
    padding-top: 100px;
}

.middle-container {
    padding-top: 50px;
}

.pro {
    text-decoration: underline;
}

.bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 250px;
    
}

.top-cloud {
    position: absolute;
    right: 200px;
    top: 30px;
}

.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
}

.js-img,
.css-img {
    width: 15%;
}

.js-img {
    float: left;
    margin-right: 30px;
}

.css-img {
    float: right;
    margin-left: 30px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.greeting {
    color: rgb(130, 134, 133);
    width: 50%;
    margin: 50px auto;
}

hr {
    border: 6px dotted #EAF6F6;
    width: 4%;  
    border-bottom: none;
    margin: auto;
}

.skills {
    color: #66BFBF;
}

.h3-style {
    color: #11999E;
}

.btn {
	box-shadow: 1px 9px 14px -5px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:42px;
	display:inline-block;
	cursor: pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
    text-shadow:0px 2px 0px #3d768a;
    margin-bottom: 50px;
    margin-top: 30px;
}
.btn:hover {
    background:linear-gradient(to bottom, #6d9197 5%, #86b2c2 100%);
    transform: scale(1.1) rotate(0);
}
.btn:active {
	position:relative;
	top:1px;
}

.bottom-container {
    background-color: #66BFBF;
}

.footer-link {
    display: inline-block;
    color: #11999E;
    text-decoration: none;
    margin: 30px 20px;
    font-weight: bold;
}

.bottom-container a:hover {
    color: white;
    font-size: 1.05rem;
}

.bottom-container p {
    color: white;
    padding-bottom: 50px;
    margin-bottom: 0;
}